// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ff9618;

// ----------------------------------------------------------------------------
// Widget-highchart styles
// ----------------------------------------------------------------------------
.widget-highchart { 

  background-color: $background-color;  

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

}